<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Orcus</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button class="btn btn-warning" style="margin-top: 8px; margin-bottom: 8px;">Upload</button>
            </li>

            <li ng-if="!$root.hasLogin">
                <a href="#!/login">Login</a>
            </li>
            <li ng-if="!$root.hasLogin">
                <a href="#!/signup" style="margin-right: 10px;">Signup</a>
            </li>

            <li ng-if="$root.hasLogin">
                <a style="margin-right: 10px;">{{$root.username}}</a>
            </li>

        </ul>
    </div>
</nav>